.header {
  width: 100%;
  top: 0;
  padding: 10px 0;
  background: #323232;
  &_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_inner {
      display: flex;
      align-items: center;
    }
    .user_info {
      display: flex;
      align-items: center;
    }
    .login_menu {
      display: flex;
      justify-content: space-between;
      >li {
        padding: 0 7px;
        >a {
          text-decoration: none;
          color: #fff;
          font-weight: lighter;
          font-size: 14px;
        }
      }
    }
    .user_img {
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
      background: #fff;
      img {
        width: 100%;
      }
    }
    .searchForm {
      &_content {
        position: relative;
        input[type="text"] {
          padding: 10px;
          border-radius: 15px;
          border: none;
          padding-left: 40px;
          font-weight: lighter;
          font-size: 12px;
        }
        input[type="submit"] {
          visibility: hidden;
        }
        .searchIcon {
          position: absolute;
          left: 5%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}