<div class="main users-new" id="LoginForm">
  <login-component :email="email" :password="password"></login-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/users/login" %>


<script>
new Login({
  el: '#LoginForm',
  data:{
    error_message: '<% @error_message %>',
    email: '<% @email %>',
    password: '<% @password %>'
  }
})
</script>
