<div id="fuga">
  <user-profile-component :user="user"></user-profile-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/users/show" %>
<script>
  new UserProfile({
    el: "#fuga",
    data: {
      user: <%= raw @user.to_json %>
    }
  })
</script>



