<div id="postEdit">
  <edit-component :post="post"></edit-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/posts/edit" %>

<script>
  new PostEdit ({
    el: "#postEdit",
    data: {
      post: <%= raw @post.to_json %>
    }
  })
</script>