<div id="postEdit">
  <edit-component :post="post" :token="authenticationToken"></edit-component>
</div>

<script>
  new PostEdit ({
    el: "#postEdit",
    created(){
      this.post["tags"] = this.tags;
    },
    data: {
      post: <%= raw @post.to_json %>,
      authenticationToken: '<%= form_authenticity_token %>',
      tags: <%= raw @post.tags.to_json %>
    }
  })
</script>