<div class="posts" id="vuePosts">
  <post-component
    :post="post"
    v-for="post in posts"
    key="post.id">
    </post-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/posts/index" %>

