<div class="posts" id="vuePosts">
  <post-component
    :post="post"
    v-for="post in posts"
    key="post.id">
    </post-component>
  <div v-if="!searchResult">
    <p>検索条件に合う記事は見つかりません。</p>
    <%= link_to "ブログトップへ", root_path %>
  </div>
</div>

<script>
new Posts({
  el: "#vuePosts",
  data: {
    posts: <%= raw @posts.to_json %>,
    searchResult: <%= @searchResult %>
  }
})
</script>

