<h1>ブログ投稿ページ</h1>

<%= render "form" %>

<%= link_to "戻る", root_path %>

<div id="main">
  <accordion-component></accordion-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/posts/new" %>