<div class="post" id="PostShow">
  <show-component :post="post"></show-component>
</div>
<%= javascript_include_tag "/javascripts/viewmodel/posts/show" %>

<script>
new PostShow({
  el : "#PostShow",
  data: {
    post: <%= raw @post.to_json %>
  }
})
</script>